:root {
  --main-color:#215F79;
  --text-color:#fff;
}

.App {
  text-align: center;
  color:#fff;
  background-color: #282c34;
  height:100%;
  min-height: 100%;
  font-size: calc(10px + 2vmin);
  text-align: center;
}

.container {
  width:80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin:0 auto;
}

