

.App {
  text-align: center;
  color:var(--text-color);
  background-color: var(--main-color);
  min-height: 100%;
  font-size: calc(10px + 2vmin);
  text-align: center;
  padding: 20px 0;
}

.container {
  width:80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin:0 auto;
  height:100%;
}

