
.tweet {
    border: 1px solid #fff;
    border-radius: 10px;
    width:100%;
    display: grid;
    margin: 20px 0;
}
.tweet ul {
    list-style-type: none;
}
.tweet ul li {
    display: inline-block;
    padding: 0 20px;
}
.tweet__body {
    display: flex;
    flex-direction: column;
}
i {
    cursor: pointer;

}
