
.tweet {
    border: 1px solid #fff;
    width:100%;
    display: grid;
}
.tweet ul {
    list-style-type: none;
}
.tweet ul li {
    display: inline-block;
    padding: 0 20px;
}
.tweet__body {
    display: flex;
    flex-direction: column;
}
.tweet__message {
}
.tweet__actions {
}